section(data-ng-controller='PlacesController', data-ng-init='findOne()')
    span {{place.created | date:'medium'}}
        | /
        span {{place.user.name}}
        h2
            | {{place.title}}
            a(data-ng-show='global.user._id == place.user._id', href='/#!/articles/{{article._id}}/edit') edit
        div {{place.content}}
