| #{helloText} \n\n
| Your account at Appstr.io was approved! \n
| Click on the following link in order to activate your account \n
| and start using Appstr.io : \n
| #{activationLink} \n\n\n
| Cheers, \n
| Team Appstr.io