| #{helloText} \n\n
|We see that you are having some trouble with your password.  \n
|Click the link below to reset your password.\n Happy app-promoting!! \n
|
| #{newPasswordLink} \n\n\n
| Cheers, \n
| Team Appstr.io